</head>
<body>
<nav>
  <% if (user) { %>
    <a href="/workouts">⚡️</a>
    <a href="/exercises/new">💪🏽</a>
    <a href="/users">🦊</a>
    <a href="/auth/sign-out">👋</a>
  <% } else { %>
    <a href="/workouts">⚡️</a>
    <a href="/users">🦊</a>
    <a href="/auth/sign-up">🪧⬆️</a>
    <a href="/auth/sign-in">🪵🏨</a>
  <% } %>
</nav>