<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<body class="landing-img" style="background-image: url('../img/user-landing.png')">
    <main>
      <section class="user-landing-container" id="user-landing">
        <% if (user.workouts === ) { %>
         
        <% } %>
        <h1>Welcome <% user.username %></h1>
        <h2>Here are your stats!</h2>
      </section>
  </main>
  </body>

<%- include('./partials/footer') %>