<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<% if (user) { %>
  <body class="landing-img" style="background-image: url('../img/user-landing.png')">
 
  </body>
    
  <% } else { %>
    <body class="main-intro-img" style="background-image: url('../img/bw-landing-img.png')">
  
    </body>
  <% } %>
  
<%- include('./partials/footer') %>
