<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<% if (user) { %>
  <body class="landing-img" style="background-image: url('../img/user-landing.png')">
    <div class="user-landing-container" id="user-landing">
        <h1>Welcome <% user.username %></h1>
        <h2>Your everyday superhero fitness tracker!</h2>
    </div>
  </body>
    
  <% } else { %>
    <body class="main-intro-img" style="background-image: url('../img/bw-landing-img.png')">
    <div class="landing-container" id="landing">
        <h1>Welcome to Oyaa</h1>
        <h2>Your everyday superhero fitness tracker!</h2>
    </div>
    </body>
  <% } %>
  
<%- include('./partials/footer') %>
