/* For small devices (phones) */
@media only screen and (max-width: 600px) {
  .full-screen-background {
      background-size: cover;
      background-position: center;
  }
}

/* For medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .full-screen-background {
      background-size: cover;
      background-position: center;
  }
}

/* For large devices (desktops) */
@media only screen and (min-width: 1025px) {
  .full-screen-background {
      background-size: cover;
      background-position: center;
  }
}

table {
    font-size: 20px;
  }
  
  table thead th {
    padding: 5px;
    border-bottom: 2px solid #424748;
  }
  
  table td {
    padding: 10px;
    text-align: center;
    font-family: 'Libre Franklin';

  }
  
  #list td:nth-child(2),
  #list td:nth-child(3) {
    min-width: 100px;
  }
  
  #list a {
    border-radius: 4px;
    background-color: #b8c0c2;
    padding: 4px;
    text-decoration: none;
    font-size: 16px;
    color: #424748;
  }
  
  #list a:visited{
    color: #eb240a;
  }
  
  #list a:hover {
    color: white;
    background-color: #368903;
  }

  a {
    color: white;
    text-decoration: none;
  }


